p {
    color: black;
    font-family: Helvetica, sans-serif;
    font-size: 15px;
}

h1, h2, h3 {
    color: rgb(255, 130, 151);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    text-align: center;
}


img {
    height: auto;
    width: 200px;
}

div {
    padding: 5px;
    display: table;
    padding: 0px 70px;
    border: 2px solid rgb(255, 130, 151);
    margin: 20px auto; /* Now its centered horizontally*/
}

.introduction {

    text-align: center;
    background-color: antiquewhite;
}

.main-content {
    background-color: beige;
}

button {
    background-color: pink;
    padding: 10px;
    border: 1px solid rgb(173, 46, 67);
}