p {
    color: black;
    font-family: Helvetica, sans-serif;
    font-size: 15px;
}

h1, h2, h3 {
    color: rgb(255, 130, 151);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    text-align: center;
}

#midtstilt {
    text-align: center;
}

/* er en konteiner som arrangerer barn-elementene i en rad*/
.flex-container {
    display: flex;
}

  /* Styrer alle div-elementene i flex-konteineren */
.flex-container div {
    background: beige;
    border: 2px solid rgb(255, 130, 151);
    height: 80px;
    /* Alle elementene får like mye plass */
    flex: 1;
}
.one img,
.two img,
.three img,
.five img {
    width: 60%;
    display: block;
    margin: 0 auto;
}

.four img {
    width: 120%;
    display: block;
    margin: 0 auto;   /* centers image inside the box */
}

.inni img {
    width: 120%;
    display: block;
    margin: 0 auto;   /* centers image inside the box */
}


.two {
    display: flex;
}

a {
    color:  rgb(255, 130, 151);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    text-align: center;
    font-size: 20px;
}
.two div {
    background: beige;
    border: 2px solid rgb(255, 130, 151);
    height: 30px;
    margin: 4px;
    flex: 1;
}

img {
    height: auto;
    width: 200px;
}

div {
    padding: 5px;
    display: table;
    padding: 0px 10px;
    border: 2px solid rgb(255, 130, 151);
    margin: 20px auto; /* Now its centered horizontally*/
}

.introduction {

    text-align: center;
    background-color: antiquewhite;
}

.main-content {
    background-color: beige;
}

button {
    background-color: pink;
    padding: 10px;
    border: 1px solid rgb(173, 46, 67);
}